html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

*{
    margin:0;
    padding: 0;
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}


/* block and text */
.left-block {
    width: 50%;
    top: 15%;
    left: 4%; 
    height: 80%;
    float: left;
    position: absolute;
    background-color: rgb(202, 58, 58);
    
}

.paragraph{
    font-size: 50px;
    height:100%;
    width: 50%;
    left: 35%;
    position: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight:bold; 
}

.top {
    top:15%;
    color: whitesmoke;
    left: 0%;
    position : absolute;
}
.middle { 
    color: wheat;
    top:35%;
    left: 115%;
    position: absolute;
}
.bottom {
    color: gray;
    top:55%;
    left: 180%;
    position: absolute;
}

/* //////////////////////////// */

/* Navigation part */
.nav-header {
    /* left: 0%;
    top: 0%; */
    margin: 40px 50px 10px 50px;
    position: relative;

}

.navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 6%; 
    position: absolute;
    float: left;
}

.social {
    display: flex;
    position: absolute;
    list-style: none;
    right: 0%;
    width: 30%;
    justify-content: space-between;
    float: left;
}

.nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navigation :hover {
    border-bottom:0.5px solid black;
    height: 25px;
}

.fab:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
/* //////////////////////////// */

.card-icon-link {
    font-size: 20px;
    color: rgb(12, 54, 70);
    border-radius: 10px;
}


.second {
    position: absolute;
    top: 140%;
    height: 100%;
    width: 90%;
    margin: 30px 5% 0 5%;
    text-align: center;
}

.paragraph-2 {
    font-size: 40px;
    font-family: 'Cormorant';
    text-transform: uppercase;
}

.first-grid {
    display: grid;
    left: 10%;
    top: 13%;
    width: 100%;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    position: absolute;
    width: 80%;
    height: 70%;
}
  
.box {
    background-color: white;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    border: 2px solid black;
    position: relative;
}



.header {
    color: black;
    font-size: 15px;
}

.card-button {
    border: none;
    outline: none;
    width: 100px;
    height: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(rgba(22, 116, 179,0.7), rgba(218, 93, 9,0.7));
    text-transform: uppercase;
    left: 35%;
    top: 70%;
    position: absolute;
}

.about-me {
    top: 110%;
    position: absolute;
    /* float: left; */
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.fa {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-me p {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Garamond';
}

.part1, .part2, .part3 {
    /* border: 1px solid black; */
    position: relative;
    text-align: center;
}

.first-grid p {
    float: left;
    color: black;
    font-family: 'Josefin Slab', serif;
}